.Topics {
  grid-area: main;
}

.TopicsList {
  font-size: var(--font-size-30);
  margin: 70px 0;
}

.TopicItem {
  & + & {
    margin-top: 55px;
  }

  &:hover span,
  &:focus span {
    color: var(--sky);
  }
}

.Topic {
  display: grid;
  grid-template-columns: calc(2 / 3 * 1fr) calc(1 / 3 * 1fr);
}

.TopicName {
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
