@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
}
@mixin leederBoard-background {
  background: url('@assets/img/leederBoard.png') no-repeat;
  background-size: cover;
}

@mixin main-background {
  background: url('@assets/img/main.png');
}

@mixin error-background {
  background: url('@assets/img/error.jpeg');
}

@mixin gameplay-background {
  background: url('@assets/img/gameplay.png');
}
