@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin main-background {
  background: url('@assets/img/main.png');
}

@mixin error-background {
  background: url('@assets/img/error.jpeg');
}
