@import '../../style/backgrounds';

.leaderboardPage {
  @include leaderBoard-background;
  padding: 85px 104px;
  min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;

  .leaderboardTitle {
    font-size: var(--font-size-60);
    margin-bottom: 85px;
    grid-area: title;
  }
}
