@import 'src/style/main';
@import '../../style/backgrounds';

.highscorePage {
  @include leederBoard-background;
  padding: 85px 104px;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  font-size: $font-size-60;
  margin-bottom: 85px;
  grid-area: title;
}

// .btn {
//   cursor: pointer;
//   text-align: center;
//   grid-area: actions;
//   width: 260px;
//   height: 70px;
//   border-radius: 10px;
//   background: $sky;
// }
