// @import '../../style/backgrounds';
// @import 'src/style/main';

// .background {
//   @include leederBoard-background;
// }
@import 'src/style/main';
@import '../../style/backgrounds';

.highscorePage {
  @include leederBoard-background;
  // @include grid-template;
  padding: 85px 104px;
  min-height: 100vh;
  min-width: 100vw;
}

.title {
  font-size: 60px;
  margin-bottom: 85px;
  grid-area: title;
}

// .btn {
//   cursor: pointer;
//   text-align: center;
//   grid-area: actions;
//   width: 260px;
//   height: 70px;
//   border-radius: 10px;
//   background: $sky;
// }

// .ForumModal {
//   width: 830px;
//   height: 463px;
// }
