.NewTopicForm {
  padding-top: 20px;
  width: 600px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.ModalButtons {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
